* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}
body {
  background: url(../images/bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: 292px 1fr;
  gap: 35px;
}
aside {
  background: white;
  height: calc(100vh - 32px);
  position: sticky;
  border-radius: 10px;
  box-shadow: 4px 0px 6px #0000001c;
  top: 16px;
  margin-left: 16px;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    margin-top: 44px;
  }
  nav {
    margin-top: 44px;
    justify-self: stretch;
    ul {
      width: 224px;
      list-style: none;

      li {
        width: 100%;
        &:nth-of-type(1) {
          a {
            &.active,
            &:hover {
              background: #7764e43a;
              color: #7764e4;
            }
          }
        }
        &:nth-of-type(2) {
          a {
            &.active,
            &:hover {
              background: #f662773a;
              color: #f66277;
            }
          }
        }
        &:nth-of-type(3) {
          a {
            &.active,
            &:hover {
              background: #16bc843a;
              color: #16bc84;
            }
          }
        }
        &:nth-of-type(4) {
          a {
            &.active,
            &:hover {
              background: #40d7f23a;
              color: #40d7f2;
            }
          }
        }
        &:nth-of-type(5) {
          a {
            &.active,
            &:hover {
              background: #fb69473a;
              color: #fb6947;
            }
          }
        }
        &:nth-of-type(6) {
          a {
            &.active,
            &:hover {
              background: #eca2653a;
              color: #eca265;
            }
          }
        }
        a {
          font-size: 14px;
          border-radius: 15px;
          display: flex;
          align-items: center;
          width: 100%;
          text-decoration: none;
          padding: 20px;
          color: #172b4d;
          margin-top: 1px;
          transition: 0.3s ease-in-out;
          span {
            margin-left: 10px;
          }
        }
      }
    }
  }
}
main {
  margin-right: 16px;
  header {
    z-index: 122222;
    position: sticky;
    top: 16px;
    padding: 10px 16px;
    box-shadow: 0px 4px 6px #0000001c;
    margin-top: 16px;
    background: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2 {
      font-weight: bold;
      font-size: 20px;
      color: #7764e4;
    }
    .info {
      display: flex;
      align-items: center;
      gap: 35px;
      a {
        text-decoration: none;
        color: #018e9f;
      }
      .doctor {
        display: flex;
        align-items: center;
        gap: 10px;
        span {
          font-size: 13px;
        }
      }
    }
  }
  .content {
    .stats {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
      gap: 16px;
      .state-item {
        margin-top: 24px;
        padding: 16px;
        box-shadow: 0px 3px 6px #2c28281c;
        border-radius: 10px;
        background: white;
        .state-info {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .state-title {
            font-size: 11px;
            color: #8898aa;
          }
          h3 {
            font-size: 18px;
            font-weight: 500;
            color: #4d4f5c;
            margin-top: 10px;
            margin-bottom: 16px;
          }
          .icon-box {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            &.new-patients {
              background: #16bc84;
            }
            &.new-visits {
              background: #e54d5b;
            }
            &.total-patients {
              background: #7764e4;
            }
            &.total-visits {
              background: #11cdef;
            }
          }
        }
        .state-footer {
          font-size: 13px;
          color: #4d4f5c;
          span {
            margin-right: 4px;
            color: #16bc84;
            &.minus {
              color: #e54d5b;
            }
          }
        }
      }
    }
    .charts {
      margin-top: 24px;
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 22px;
      .chart-item {
        box-shadow: 0px 3px 6px #2c28281c;
        background: white;
        padding: 16px;
        border-radius: 10px;
        .chart-item-header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 20px;
          .top {
            font-size: 11px;
            color: #8898aa;
          }
          .title {
            margin-top: 10px;
            font-size: 18px;
            font-weight: 500;
            color: #172b4d;
          }
          button {
            padding: 10px 16px;
            color: #018e9f;
            border: 1px solid #018e9f;
            border-radius: 5px;
            transition: 0.3s;
            background: white;
            cursor: pointer;
            &.active,
            &:hover {
              background: #018e9f;
              color: white;
            }
          }
        }
      }
    }
  }
}
